<template>
    <div>
      <h1>Product Lists</h1>
      <img
        v-if="loading"
        src="https://i.imgur.com/JfPpwOA.gif"
      >
      <ul v-else>
        <li v-for="product in products" :key="product.title">
            {{product.title}} - {{product.price}} - {{product.inventory}}
            <button
            :disabled="!productIsInStock(product)"
            @click="addProductToCart(product)"
            >Add to cart</button>
        </li>
      </ul>
    </div>
</template>

<script>
  import {mapState, mapGetters, mapActions} from 'vuex'
  export default {
    data () {
      return {
        loading: false
      }
    },
    computed: {
      ...mapState({
        products: state => state.products.items
      }),
      ...mapGetters('products', {
        productIsInStock: 'productIsInStock'
      })
    },
    created () {
      this.loading = true
      this.fetchProducts()
        .then(() => this.loading = false)
    },
    methods: {
      ...mapActions({
        fetchProducts: 'products/fetchProducts',
        addProductToCart: 'cart/addProductToCart'
      })
    }
  }
</script>
