<template>
  <div>
    <h1>shopping cart</h1>
    <ul>
      <li
        v-for="product in products"
        :key="product.id"
      >{{ product.title }} - {{product.price | currency}} - {{product.quantity}}</li>
    </ul>
    <div>total: {{ total | currency}}</div>
		<button @click="checkout">Checkout</button>
    <p v-if="checkoutStatus">{{checkoutStatus}}</p>
  </div>
</template>
<script>

import { mapState, mapGetters, mapActions } from "vuex";

export default {
  computed: {
		...mapState({
			checkoutStatus: state => state.cart.checkoutStatus
		}),
		...mapGetters({
			products: 'cart/cartProducts',
			total: 'cart/cartTotal'
		})
	},
	methods: {
		...mapActions('cart', {
			checkout: 'checkout'
		})
	}
};
</script>
<style scoped>
</style>

