/* eslint-disable */ 
<template>
  <div id="app">
    <product-list></product-list>
    <hr>
    <shopping-cart></shopping-cart>
  </div>
</template>

<script>
import ProductList from '@/components/ProductList'
import ShoppingCart from '@/components/shoppingCart'
export default {
  name: 'app',
  components: {
    ProductList,
    ShoppingCart
  }
}
</script>

<style scoped>
</style>
